/**
 *@Author: hy-zhangb
 *Date: 2018/5/22 16:45
 * @Last Modified by: wuyanxia
 * @Last Modified time: 2019-04-29 17:54:30
 *Email: lovewinders@163.com
 *File Path: Machine-Learning - style
 *@File Name: style
 *@Description: Description
 */
@import "./fonts/iconfont.css";

.icon-xinjian:before {
  content: "\e608";
}
.icon-riqi:before {
  content: "\e613";
}
.icon-biaoqian:before {
  content: "\e620";
}
.icon-yonghujueseguanli:before {
  content: "\e664";
}
.icon-am-start:before {
  content: "\e60a";
}
.icon-yulanshuju:before {
  content: "\e616";
}
.icon-wofabudemoban:before {
  content: "\e67e";
}
.icon-yingyong:before {
  content: "\e6c2";
}
.icon-xiugaibeizhu:before {
  content: "\e60b";
}
.icon-shujuyuan:before {
  content: "\e80a";
}
.icon-sqlshujuji:before {
  content: "\e6b2";
}
.icon-yibiaoban:before {
  content: "\e6b5";
}
.icon-shangchuan-:before {
  content: "\e604";
}
.icon-jietu:before {
  content: "\e941";
}
.icon-csv:before {
  content: "\e62a";
}
.icon-wodeshoucang:before {
  content: "\e61a";
}
.icon-gengduo:before {
  content: "\e609";
}
.icon-excel:before {
  content: "\e691";
}
.icon-xiazai:before {
  content: "\e62f";
}
.icon-bianji:before {
  content: "\e630";
}
.icon-guanbi:before {
  content: "\e666";
}
.icon-chongmingming:before {
  content: "\e605";
}
.icon-daoxu:before {
  content: "\e614";
}
.icon-shejigongfang:before {
  content: "\e635";
}
.icon-mobanshichang:before {
  content: "\e6ee";
}
.icon-shouqi:before {
  content: "\e695";
}
.icon-zhengshu:before {
  content: "\e615";
}
.icon-xitongtuijian:before {
  content: "\e7c2";
}
.icon-mysql:before {
  content: "\e60e";
}
.icon-fenxiang:before {
  content: "\e626";
}
.icon-fuzhi:before {
  content: "\e6f2";
}
.icon-shichang:before {
  content: "\e61e";
}
.icon-yizan:before {
  content: "\e601";
}
.icon-dianzan:before {
  content: "\e602";
}
.icon-wenjian:before {
  content: "\e603";
}
.icon-yichang:before {
  content: "\e60f";
}
.icon-fabu:before {
  content: "\e60d";
}
.icon-shujuji:before {
  content: "\e622";
}
.icon-buyincang:before {
  content: "\e69f";
}
.icon-gongkai:before {
  content: "\e612";
}
.icon-xiugaixinxi:before {
  content: "\e64a";
}
.icon-shaixuan:before {
  content: "\e629";
}
.icon-oracle:before {
  content: "\e786";
}
.icon-yonghuguanli:before {
  content: "\e632";
}
.icon-shuzizhanting:before {
  content: "\ea37";
}
.icon-lingcunwei:before {
  content: "\e6c8";
}
.icon-shujuzhongxin:before {
  content: "\e637";
}
.icon-dbd-baocun:before {
  content: "\e61f";
}
.icon-dbd-quanping:before {
  content: "\e621";
}
.icon-dbd-dingbuduiqi:before {
  content: "\e653";
}
.icon-dbd-shangyiyiceng:before {
  content: "\e654";
}
.icon-dbd-chuizhifenbu:before {
  content: "\e655";
}
.icon-dbd-xiayiyiceng:before {
  content: "\e65d";
}
.icon-dbd-biaochi:before {
  content: "\e65e";
}
.icon-dbd-diceng:before {
  content: "\e65f";
}
.icon-dbd-shuipingfenbu:before {
  content: "\e660";
}
.icon-dbd-dingceng:before {
  content: "\e661";
}
.icon-dbd-dibuduiqi:before {
  content: "\e662";
}
.icon-dbd-wanggexian:before {
  content: "\e663";
}
.icon-dbd-shangxiaduiqi:before {
  content: "\e665";
}
.icon-dbd-youduiqi:before {
  content: "\e667";
}
.icon-dbd-fuzhi:before {
  content: "\e669";
}
.icon-dbd-chexiao:before {
  content: "\e66a";
}
.icon-dbd-zuoduiqi:before {
  content: "\e66b";
}
.icon-dbd-zuoyouduiqi:before {
  content: "\e66c";
}
.icon-dbd-huifu:before {
  content: "\e66d";
}
.icon-dbd-zhantie:before {
  content: "\e670";
}
.icon-kongjianshezhi:before {
  content: "\e63b";
}
.icon-quanbu:before {
  content: "\e624";
}
.icon-zhengxu:before {
  content: "\e627";
}
.icon-shangyiye:before {
  content: "\e617";
}
.icon-jueseguanli:before {
  content: "\e640";
}
.icon-yincang:before {
  content: "\e6a0";
}
.icon-wenjianjiaguanbi:before {
  content: "\e64b";
}
.icon-shanchu:before {
  content: "\e649";
}
.icon-shuaxin:before {
  content: "\e642";
}
.icon-fengmian:before {
  content: "\e61d";
}
.icon-yichu:before {
  content: "\e611";
}
.icon-caiji:before {
  content: "\e634";
}
.icon-shujubiao:before {
  content: "\e625";
}
.icon-baocun:before {
  content: "\e73a";
}
.icon-yidong:before {
  content: "\e607";
}
.icon-quanxianshezhi:before {
  content: "\e633";
}
.icon-fanhui:before {
  content: "\e63a";
}
.icon-huifu:before {
  content: "\e6a5";
}
.icon-shoucang:before {
  content: "\e63c";
}
.icon-wenben:before {
  content: "\e66e";
}
.icon-chuizhijuzhong:before {
  content: "\e618";
}
.icon-dingbuduiqi:before {
  content: "\e61b";
}
.icon-dibuduiqi:before {
  content: "\e61c";
}
.icon-hanshu:before {
  content: "\e671";
}
.icon-zhankai:before {
  content: "\e63d";
}
.icon-bumen:before {
  content: "\e619";
}
.icon-hive:before {
  content: "\e636";
}
.icon-zengjia:before {
  content: "\e610";
}
.icon-yishoucang:before {
  content: "\e600";
}
.icon-wenjianjiadakai:before {
  content: "\e64c";
}
.icon-xiaoshu:before {
  content: "\e66f";
}
.icon-yunweiguanli:before {
  content: "\e639";
}
.icon-chenggong:before {
  content: "\e60c";
}
.icon-sousuo:before {
  content: "\e631";
}
.icon-kongbaiyibiaoban:before {
  content: "\e623";
}
.icon-shijian:before {
  content: "\e69a";
}
.icon-xiaoxi:before {
  content: "\e63e";
}
.icon-bupaixu:before {
  content: "\e628";
}
.icon-zuoyoujuzhong:before {
  content: "\e62b";
}
.icon-youduiqi:before {
  content: "\e62c";
}
.icon-zuoduiqi:before {
  content: "\e62d";
}
.icon-zhedie:before {
  content: "\e6c3";
}
.icon-fenxianglianjie:before {
  content: "\e63f";
}
.icon-xaiyiye:before {
  content: "\e80b";
}
.icon-gis:before {
  content: "\e6a2";
}
.icon-zuanqu:before {
  content: "\e641";
}
.icon-postgresql:before {
  content: "\e6c1";
}
.icon-sucai:before {
  content: "\e881";
}
.icon-kongjian:before {
  content: "\e672";
}
.icon-zidingyi:before {
  content: "\e668";
}
.icon-huishouzhan:before {
  content: "\e638";
}
.icon-bumenshezhi:before {
  content: "\e6a1";
}
.icon-bianliang:before {
  content: "\e652";
}
.icon-tiaoseban:before {
  content: "\e606";
}
.icon-dameng:before {
  content: "\e62e";
}
