{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 10",
            "Chrome >= 40"
          ]
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
        /*"libraryDirectory": "es",
        "style": "css"*/
      }
    ]
  ]
}