/**
 *@Author: hy-zhangb
 *Date: 2017-05-25 11:49
 *@Last Modified by: zhangb
 *@Last Modified time: 2017-05-25 11:49
 *Email: lovewinders@163.com
 *File Path: //
 *@File Name: tueasy-jiaoguan
 *@Description: sass mixin fn
 */
/*-----------------------------set button area-------------------------------*/
//set button theme color
@mixin set-button-theme ($color:#31A8E9, $border-color:#31A8E9, $background-color:#E4F6FE) {
  color: $color;
  border: 1px solid $border-color;
  background-color: $background-color;
  a {
    color: $color;
  }
}
//set button size
@mixin set-button-size ($size) {
  padding: $size;
}